<div  class="content-container" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <h3>Predictions Alpha Demo Page</h3>
  <p>This is a demo version of our predictions model. Currently limited to 10 seconds.</p>
  <app-videojs-record style="width: 60%" (recordedVideo)="log($event)" *ngIf="startVideoFeed"></app-videojs-record>
  <button class="btn btn-success-outline" *ngIf="allowFormSubmit && predictions.length<1" (click)="onSubmit();loadPredictions=true;allowFormSubmit=false">Predict</button>
</div>
<div class="prediction">
  <div   fxLayout="row" fxLayoutGap="3px" fxLayoutAlign="center center">
  <span class="spinner spinner-inline" *ngIf="loadPredictions && predictions.length<1">
    Loading Predictions...
</span>
  <span  *ngIf="loadPredictions && predictions.length<1">
    Loading...
</span>
  </div>
  <div class="clr-row"  *ngIf="predictions.length>0" >
    <div class="clr-col-12">
      <div class="card">
        <div class="card-header">
          Predictions
        </div>
        <div class="card-block" >
          <div class="card-title">
            Duration: {{duration | number: '.1-3'}} seconds.
          </div>
          <div class="card-text">
            <div  fxLayout="row" fxLayoutGap="3px">
            <div *ngFor="let pred of predictions">{{pred.prediction | titlecase }}  ({{pred.probability | percent}}) </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" (click)="reset()">Start Again</button>
        </div>
      </div>
    </div>
  </div>

</div>
