<clr-header>

  <div class="branding">
    <a [routerLink]="['/main']" class="nav-link">
      <clr-icon shape="vm"></clr-icon>
      <span class="title">It's Ability</span>
    </a>
  </div>
  <div class="header-nav header-7" [clr-nav-level]="1">
    <a [routerLink]="['main']" fragment="home" class="nav-link" routerLinkActive="active"><span class="nav-text">Home</span></a>
    <a [routerLink]="['main']" fragment="team" class="nav-link" routerLinkActive="active"><span class="nav-text">The Team</span></a>
    <a [routerLink]="['main']" fragment="vision" class="nav-link" routerLinkActive="active"><span class="nav-text">The Vision</span></a>
    <a [routerLink]="['blog']" class="nav-link" routerLinkActive="active"><span class="nav-text" routerLinkActive="active" >Blog</span></a>
    <a [routerLink]="['survey']" class="nav-link" routerLinkActive="active"><span class="nav-text" routerLinkActive="active" >Take A Survey</span></a>
    <a [routerLink]="['contribute']" class="nav-link" routerLinkActive="active"><span class="nav-text" routerLinkActive="active" >Become A Contributor</span></a>
    <a [routerLink]="['demo']" class="nav-link" routerLinkActive="active"><span class="nav-text" routerLinkActive="active" >Demo</span></a>
  </div>
  <div class="spacer"></div>
  <div class="header-actions">
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger aria-label="find us on">
        <clr-icon shape="hashtag"></clr-icon>
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a href="https://www.facebook.com/itsability" clrDropdownItem>Facebook</a>
        <a href="https://twitter.com/_itsability" clrDropdownItem>Twitter</a>
        <a href="https://www.instagram.com/_itsability/" clrDropdownItem>Instagram</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>

</clr-header>
