<div class="content">
  <h4>Prototype Demo</h4>
  <p>Our model is currently in its <strong>alpha</strong> stage of development and shall increase in accuracy the more training data it gets. </p>
  <br>
  <br>
  <ul class="clr-timeline">
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Step 1</div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Completed"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Model Creation</span>
        <span class="clr-timeline-step-description">
    Model is built.
  </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Step 2</div>
      <clr-spinner clrMedium aria-label="In progress">Iterative training</clr-spinner>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Training</span>
        <span class="clr-timeline-step-description">
    Model currently in the process of training.
  </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Step 3</div>
      <clr-icon shape="circle" aria-label="Not started"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Deployment</span>
        <span class="clr-timeline-step-description">
          Deployment and launch of model for public use.
  </span>
      </div>
    </li>
  </ul>

  <h4>Prototype</h4>
  <p>Here is a live prototype showcasing the product flow (medical facility version). The flow is updated live so the flow change with time.</p>
  <br>
</div>
<div class="script">
  <div class="protoio-embed-prototype" data-code="42FZHG" data-show-sidebuttons="0" style="width: 100%; height: 800px;"></div>
</div>
