<div class="content">
  <h4>Prototype Demo</h4>
  <p>Our model is currently in its <strong>alpha</strong> stage of development and shall increase in accuracy the more training data it gets. </p>
  <br>
  <br>
  <ul class="clr-timeline">
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Step 1</div>
      <clr-icon shape="dot-circle" aria-current="true" aria-label="Completed"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Model Creation</span>
        <span class="clr-timeline-step-description">
    Model is built.
  </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Step 2</div>
      <clr-spinner clrMedium aria-label="In progress">Iterative training</clr-spinner>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Training</span>
        <span class="clr-timeline-step-description">
    Model currently in the process of training.
  </span>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">Step 3</div>
      <clr-icon shape="circle" aria-label="Not started"></clr-icon>
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Deployment</span>
        <span class="clr-timeline-step-description">
          Deployment and launch of model for public use.
  </span>
      </div>
    </li>
  </ul>

  <h4>Example Video</h4>
  <p>Below is a working demo showcasing the capabilities of the product.</p>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/RQHa5axuMpc?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
