<div class="main-container">
  <div class="content-container">
    <div fxLayout="column" fxLayoutAlign="center center" class="content">
      <h3>Sign Up Here</h3>
      <br>
      <br>
      <form clrForm fxLayout="column" fxLayoutGap="3px" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <clr-input-container>
          <label>First Name</label>
          <input clrInput type="text" ngModel name="firstName" required />
          <clr-control-error>This field is required.</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Last Name</label>
          <input clrInput type="text" ngModel name="lastName" />
        </clr-input-container>
        <clr-input-container>
          <label>Email</label>
          <input clrInput type="email" email required ngModel name="email" />
          <clr-control-error>This field is required.</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label>Password</label>
          <input clrInput type="password"  required ngModel name="password" />
          <clr-control-error>This field is required.</clr-control-error>
        </clr-input-container>
        <br>
        <clr-checkbox-wrapper>
          <input type="checkbox" clrCheckbox name="dataUseAgreement" required ngModel  />
          <label>I agree to subsequent data collection and use by It's Ability.</label>
        </clr-checkbox-wrapper>
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Sign Up</button>
      </form>
    </div>
  </div>
</div>
