
<div id="generic_price_table">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!--PRICE HEADING START-->
          <div class="price-heading clearfix">
            <h1>Sauti App Pricing</h1>
          </div>
          <!--//PRICE HEADING END-->
        </div>
      </div>
    </div>
    <div class="container">

      <!--BLOCK ROW START-->
      <div class="row">
        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Basic</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">0</span>
                                    <span class="cent">.00</span>
                                    <span class="month">/YR</span>
                                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>Limited</span> Usage</li>
                <li><span>Limited</span> Signs Vocabulary</li>
                <li><span>Full Access</span> To the Mobile App</li>

              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Sign up</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>

        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content active clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Standard</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">750</span>
                                    <span class="cent">.00</span>
                                    <span class="month">/YR</span>
                                </span>
              </div>
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">+ $</span>
                                    <span class="currency">0</span>
                                    <span class="cent">.20</span>
                                    <span class="month">/minute</span>
                                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>Unlimited</span> Signs Vocabulary</li>
                <li><span>250GB</span> Storage</li>
                <li><span>10</span> Accounts</li>
                <li><span>Fullr Managed</span> Cloud-based Reporting</li>
                <li><span>24/7</span> Support</li>
              </ul>
            </div>
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Sign up</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>
        <div class="col-md-4">

          <!--PRICE CONTENT START-->
          <div class="generic_content clearfix">

            <!--HEAD PRICE DETAIL START-->
            <div class="generic_head_price clearfix">

              <!--HEAD CONTENT START-->
              <div class="generic_head_content clearfix">

                <!--HEAD START-->
                <div class="head_bg"></div>
                <div class="head">
                  <span>Premium</span>
                </div>
                <!--//HEAD END-->

              </div>
              <!--//HEAD CONTENT END-->

              <!--PRICE START-->
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">$</span>
                                    <span class="currency">1000</span>
                                    <span class="cent">.00</span>
                                    <span class="month">/YR</span>
                                </span>
              </div>
              <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="sign">+ $</span>
                                    <span class="currency">0</span>
                                    <span class="cent">.10</span>
                                    <span class="month">/minute</span>
                                </span>
              </div>
              <!--//PRICE END-->

            </div>
            <!--//HEAD PRICE DETAIL END-->

            <!--FEATURE LIST START-->
            <div class="generic_feature_list">
              <ul>
                <li><span>Unlimited</span> Signs Vocabulary</li>
                <li><span>Unlimited</span> Storage</li>
                <li><span>Unlimited</span> Accounts</li>
                <li><span>Fully Managed</span> Cloud-based Reporting</li>
                <li><span>Fully Managed</span> HealthCare Analytics</li>
                <li><span>24/7</span> Support</li>
              </ul>
            </div>
            <!--//FEA
            <!--//FEATURE LIST END-->

            <!--BUTTON START-->
            <div class="generic_price_btn clearfix">
              <a class="" href="">Sign up</a>
            </div>
            <!--//BUTTON END-->

          </div>
          <!--//PRICE CONTENT END-->

        </div>
      </div>
      <!--//BLOCK ROW END-->

    </div>
  </section>

</div>
